@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,500&display=swap');

body {
  background-color: #b8b8b8;
  color: #790f26;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 10px;
  font-style: bold;
  font-size: 40px;
  border: 2px solid black;
  background-color: gray;
  padding: 30px;
  margin-bottom: 50px;
}
image {
  display:inline-block;
  margin: 10px
}
